{% load static %}
{% load store_widgets %}
<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tante Mate Laden</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Tante Mate Laden {% block title %} {% endblock %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'stats' %}">Stats</a></li>
                    {% if request.user.account.negative_funds %}
                        <li><p class="navbar-text negative-funds">Balance: {{ request.user.account.balance }}€</p></li>
                    {% else %}
                        <li><p class="navbar-text">Balance: {{ request.user.account.balance }}€</p></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Guthaben aufladen <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a onclick="addFunds({{ request.user.account.id }}, 0.5)">0,50€</a></li>
                            <li><a onclick="addFunds({{ request.user.account.id }}, 2)">1€</a></li>
                            <li><a onclick="addFunds({{ request.user.account.id }}, 1.5)">1,50€</a></li>
                            <li><a onclick="addFunds({{ request.user.account.id }}, 2)">2€</a></li>
                            <li><a onclick="addFunds({{ request.user.account.id }}, 5)">5€</a></li>
                            <li><a onclick="addFunds({{ request.user.account.id }}, 10)">10€</a></li>
                            <li><a onclick="addFunds({{ request.user.account.id }}, 20)">20€</a></li>
                            <li><a onclick="addFunds({{ request.user.account.id }}, 50)">50€</a></li>
                            <li><a onclick="addFunds({{ request.user.account.id }}, 100)">100€</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'account-index' %}">
                        {% if request.user.account.avatar %}
                            <img src="{{ request.user.account.avatar.url }}" style="
                max-height: 48px;
                margin-top: -15px;
                margin-bottom: -15px;
                ">{% endif %}

                        Angemeldet als <b>{{ request.user.username }}</b></a></li>
                    <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-off"></i></a>
                </ul>
            {% else %}
                <form class="navbar-form navbar-right" method="post" action="{% url 'login' %}" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" placeholder="username" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Log in</button>
                    <a class="btn btn-default" href="{% url 'signup' %}">Registrieren</a>
                </form>
            {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<div id="alerts">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% endfor %}
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
{% block jumbo %}
    {% comment %}
        <div class="jumbotron">
          <div class="container-fluid">
            <h1>Heisser, schwarzer Kaffee.</h1>
            <p>Kaffee ist leider gerade aus aber kuck dich ruhig um und nimm' dir ne Mate.</p>
          </div>
        </div>
        {% endcomment %}
{% endblock %}
<div class="container-fluid">
    {% block content %}
        LOREM IPSUM DEINE MUTTER
    {% endblock %}
</div> <!-- /container -->
<footer id="page-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                &copy; <a href="https://twitter.com/deinkoks">deinkoks</a> & <a href="https://twitter.com/fronbasalpub">fronbasal</a>
                @ <a href="https://chaospott.de">foobar e.V.</a>
            </div>

            <div class="col-md-8">
              <span class="pull-right">
              {% if request.user.is_staff %}
                  <a href="/admin/">Administration</a> |
              {% endif %}
                  <a href="/api/">API</a> |
              <a href="https://gitlab.com/c3e/TanteMateLaden">Gitlab</a> |
              <a href="bitcoin:1McEqx8kwZY9jvGK23pWhCNQryPSMvqL16">I CAN HAS DONATIONS?</a>
              </span>
            </div>

        </div>
    </div>
</footer>

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block modals %}
    <!-- MODALS -->
{% endblock %}
</body>
</html>