{% load store_widgets %}
{% load l10n %}
<h2>Getränke</h2>
<div class="row row-eq-height">
	{% for drink in drinks %}
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="tooltip" title="{{ drink.description }}"><h4 style="margin-top: 0; margin-bottom: 0; line-height: 1.4em;"><span class="label label-primary" style="margin-left: -0.5em;">{{ drink.volume }}l</span> {{ drink.name }}</h4></div>
				<div class="panel-body" style="padding: 10px;">
					{% if drink.image %}
						<img src="{{ drink.image.url }}" class="img-responsive hidden-xs" style="padding-bottom: 10px;">
					{% endif %}
					<div class="row">
						{% if drink.kcal > 0 %}
							{% widthratio drink.kcal 500 100 as width %}
							<div class="col-md-3"><b>Kalorien</b> </div>
							<div class="col-md-9">
								<div class="progress">
									<div class="progress-bar progress-bar-info progress-bar-left" role="progressbar" aria-valuenow="{{drink.kcal|unlocalize}}" aria-valuemin="0" aria-valuemax="500" style="min-width: 4em; width: {{width}}%;">
										{{drink.kcal}}kcal/l
									</div>
								</div>
							</div>
						{% endif %}

						{% if drink.sugar > 0 %}
							{% widthratio drink.sugar 100 100 as width %}
							<div class="col-md-3"><b>Zucker</b> </div>
							<div class="col-md-9">
								<div class="progress">
									<div class="progress-bar progress-bar-info progress-bar-left" role="progressbar" aria-valuenow="{{drink.sugar|unlocalize}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: {{width}}%;">
										{{drink.sugar}}g/l
									</div>
								</div>
							</div>
						{% endif %}

						{% if drink.alcohol > 0 %}
							<div class="col-md-3"><b>Alkohol</b> </div>
							<div class="col-md-9">
								<div class="progress">
									<div class="progress-bar progress-bar-warning progress-bar-left" role="progressbar" aria-valuenow="{{drink.alcohol|unlocalize}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em; width: {{drink.alcohol}}%;">
										{{drink.alcohol}}%
									</div>
								</div>
							</div>
						{% endif %}
						{% if drink.caffeine > 0 %}
							{% widthratio drink.caffeine 300 100 as width %}
							<div class="col-md-3"><b>Koffein</b> </div>
							<div class="col-md-9">
								<div class="progress">
									<div class="progress-bar progress-bar-info progress-bar-left" role="progressbar" aria-valuenow="{{drink.caffeine|unlocalize}}" aria-valuemin="0" aria-valuemax="300" style="min-width: 4em; width: {{width}}%;">
										{{drink.caffeine}}mg/l
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
				<div class="panel-footer">
					<a class="btn btn-primary btn-block" data-toggle="modal" data-target="#buy-{{drink.pk}}">
						Kaufen ({{drink.price}}<i class="glyphicon glyphicon-euro"></i>)
					</a>
				</div>
				{% buy_item_modal drink %}
			</div>
		</div>
	{% endfor %}
</div>